APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mail
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

NOCAPTCHA_SECRET=6Ldy9R8TAAAAANF3vTEmUTuS_Qhjy-mEE9XfhEbg
NOCAPTCHA_SITEKEY=6Ldy9R8TAAAAABQ6N58grVm4Phn6z-0ZLiNjiU5X

PUSHER_KEY=
PUSHER_SECRET=
PUSHER_APP_ID=
