@import "styles/mixin";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,400italic,700&subset=latin,cyrillic);

$red: rgb(255,82,82);
$black: #505050;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.mdl-layout {

}

.mdl-layout-title--link {
  color: white;
  text-decoration: none;
}

.mdl-layout__drawer-button {
  display: none;
}

.mdl-layout__header-row, .mdl-layout__content {
  padding: 0 16px 0 16px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.is-small-screen {
  .mdl-layout__drawer-button {
    display: block;
  }
  .mdl-layout__header-row {
    padding: 0 16px 0 76px;
  }
}

.blog__post-card {
  width: 100%;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    max-height: 500px;
  }

  .mdl-card__title {
    border-bottom: 1px solid #ebebeb;

    &.mdl-card__title--cover {
      height: 250px;
      background-size: cover;
      background-position: center;

      .mdl-card__title-text {
        color: white;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, .75);
        font-size: 1.8em;
        display: block;
        width: calc(100% + 32px);
        margin: 0px -16px -16px;
        background: rgba(103, 58, 183, .55);
        padding: 5px 10px;
      }

      @media (max-width: 700px)
      {
        height: 280px;
        .mdl-card__title-text {
          font-size: 24px;
        }
      }
    }
  }

  .mdl-card__title-link {
    color: $black;
    transition: 300ms all;
    text-decoration: none;

    &:hover {
      color: $red;
    }
  }

  .mdl-card__supporting-text {
    width: 100%;
    color: rgba(0,0,0,.74);
  }

  &--stat {
    float: right;
    margin-right: 10px;
    display: block;
    font-size: 0.7em;
    color: #7d6f6f;

    .material-icons {
      position: relative;
      top: 6px;
      font-size: 20px;
    }
  }

  &.blog__post-card--full {
    .mdl-card__actions {
      padding: 5px 0;
      height: 40px;
    }
    .mdl-card__title {
      &.mdl-card__title--cover
      {
        height: 300px;
      }
    }
  }

  &:after {
    display: block;
    content: " ";
    clear: both;
  }

}
